@model asp_project1.Models.Vendor

@{
    ViewData["Title"] = "editvendor";
}

<h2>Edit Vendor</h2>

@Html.AntiForgeryToken();
<center>
    <form asp-action="editvendor">
        <div class="form-horizontal">
            <h4>Vendor</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VendorId" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="VendorId" class="form-control" readonly />
                    <span asp-validation-for="VendorId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="VendorName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="VendorName" class="form-control" />
                    <span asp-validation-for="VendorName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="VendorPhoneno" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="VendorPhoneno" class="form-control" />
                    <span asp-validation-for="VendorPhoneno" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
    </center>
    <div>
        <a asp-action="viewvendors">Back to List</a>
    </div>

